

<style type="text/css">
	dl.image_map {display:block; width:1650px; height:1275px; position:relative; margin:2px auto 2px auto;}
	a.LINK0 {left:1121px; top:204px; background:transparent;}
	a.LINK0 {display:block; width:203px; height:0; padding-top:122px; overflow:hidden; position:absolute;}
	a.LINK0:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK1 {left:1118px; top:322px; background:transparent;}
	a.LINK1 {display:block; width:203px; height:0; padding-top:122px; overflow:hidden; position:absolute;}
	a.LINK1:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK2 {left:1118px; top:441px; background:transparent;}
	a.LINK2 {display:block; width:203px; height:0; padding-top:122px; overflow:hidden; position:absolute;}
	a.LINK2:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK3 {left:1119px; top:556px; background:transparent;}
	a.LINK3 {display:block; width:203px; height:0; padding-top:122px; overflow:hidden; position:absolute;}
	a.LINK3:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK4 {left:1118px; top:675px; background:transparent;}
	a.LINK4 {display:block; width:203px; height:0; padding-top:122px; overflow:hidden; position:absolute;}
	a.LINK4:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK5 {left:1118px; top:805px; background:transparent;}
	a.LINK5 {display:block; width:203px; height:0; padding-top:122px; overflow:hidden; position:absolute;}
	a.LINK5:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK6 {left:1120px; top:925px; background:transparent;}
	a.LINK6 {display:block; width:203px; height:0; padding-top:122px; overflow:hidden; position:absolute;}
	a.LINK6:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK7 {left:1118px; top:1043px; background:transparent;}
	a.LINK7 {display:block; width:203px; height:0; padding-top:122px; overflow:hidden; position:absolute;}
	a.LINK7:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK8 {left:996px; top:107px; background:transparent;}
	a.LINK8 {display:block; width:80px; height:0; padding-top:168px; overflow:hidden; position:absolute;}
	a.LINK8:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK9 {left:874px; top:108px; background:transparent;}
	a.LINK9 {display:block; width:87px; height:0; padding-top:168px; overflow:hidden; position:absolute;}
	a.LINK9:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK10 {left:800px; top:107px; background:transparent;}
	a.LINK10 {display:block; width:79px; height:0; padding-top:168px; overflow:hidden; position:absolute;}
	a.LINK10:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK11 {left:684px; top:104px; background:transparent;}
	a.LINK11 {display:block; width:79px; height:0; padding-top:168px; overflow:hidden; position:absolute;}
	a.LINK11:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK12 {left:996px; top:356px; background:transparent;}
	a.LINK12 {display:block; width:79px; height:0; padding-top:178px; overflow:hidden; position:absolute;}
	a.LINK12:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK13 {left:876px; top:356px; background:transparent;}
	a.LINK13 {display:block; width:79px; height:0; padding-top:178px; overflow:hidden; position:absolute;}
	a.LINK13:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK14 {left:607px; top:96px; background:transparent;}
	a.LINK14 {display:block; width:83px; height:0; padding-top:178px; overflow:hidden; position:absolute;}
	a.LINK14:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK15 {left:585px; top:317px; background:transparent;}
	a.LINK15 {display:block; width:105px; height:0; padding-top:219px; overflow:hidden; position:absolute;}
	a.LINK15:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK16 {left:485px; top:101px; background:transparent;}
	a.LINK16 {display:block; width:84px; height:0; padding-top:173px; overflow:hidden; position:absolute;}
	a.LINK16:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK17 {left:485px; top:320px; background:transparent;}
	a.LINK17 {display:block; width:101px; height:0; padding-top:215px; overflow:hidden; position:absolute;}
	a.LINK17:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK18 {left:237px; top:202px; background:transparent;}
	a.LINK18 {display:block; width:209px; height:0; padding-top:123px; overflow:hidden; position:absolute;}
	a.LINK18:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK19 {left:237px; top:321px; background:transparent;}
	a.LINK19 {display:block; width:209px; height:0; padding-top:123px; overflow:hidden; position:absolute;}
	a.LINK19:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK20 {left:237px; top:441px; background:transparent;}
	a.LINK20 {display:block; width:209px; height:0; padding-top:123px; overflow:hidden; position:absolute;}
	a.LINK20:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK21 {left:236px; top:558px; background:transparent;}
	a.LINK21 {display:block; width:209px; height:0; padding-top:123px; overflow:hidden; position:absolute;}
	a.LINK21:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK22 {left:236px; top:678px; background:transparent;}
	a.LINK22 {display:block; width:209px; height:0; padding-top:123px; overflow:hidden; position:absolute;}
	a.LINK22:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK23 {left:237px; top:797px; background:transparent;}
	a.LINK23 {display:block; width:209px; height:0; padding-top:129px; overflow:hidden; position:absolute;}
	a.LINK23:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK24 {left:237px; top:924px; background:transparent;}
	a.LINK24 {display:block; width:209px; height:0; padding-top:129px; overflow:hidden; position:absolute;}
	a.LINK24:hover  {background:transparent; border:1px dashed black; color:black;}
	a.LINK25 {left:237px; top:1048px; background:transparent;}
	a.LINK25 {display:block; width:209px; height:0; padding-top:119px; overflow:hidden; position:absolute;}
	a.LINK25:hover  {background:transparent; border:1px dashed black; color:black;}
	a.BLINK {left:1648px; top:1273px; background:transparent;}
	a.BLINK {display:block; width:202px; height:17px; overflow:hidden; position:absolute; font-size:0px;}
	a.BLINK:hover  {background:black; border:1px dashed white; color:white; font-size:9px;}
</style>

<dl class="image_map">
	<dd><a class="LINK0" title="" href="http://www.Ponies/West/1/415"></a></dd>
	<dd><a class="LINK1" title="" href="http://www.Ponies/West/1/413"></a></dd>
	<dd><a class="LINK2" title="" href="http://www.Ponies/West/1/411"></a></dd>
	<dd><a class="LINK3" title="" href="http://www.Ponies/West/1/409"></a></dd>
	<dd><a class="LINK4" title="" href="http://www.Ponies/West/1/407"></a></dd>
	<dd><a class="LINK5" title="" href="http://www.Ponies/West/1/405"></a></dd>
	<dd><a class="LINK6" title="" href="http://www.Ponies/West/1/403"></a></dd>
	<dd><a class="LINK7" title="" href="http://www.Ponies/West/1/401"></a></dd>
	<dd><a class="LINK8" title="" href="http://www.Ponies/West/1/419"></a></dd>
	<dd><a class="LINK9" title="" href="http://www.Ponies/West/1/423"></a></dd>
	<dd><a class="LINK10" title="" href="http://www.Ponies/West/1/427"></a></dd>
	<dd><a class="LINK11" title="" href="http://www.Ponies/West/1/428"></a></dd>
	<dd><a class="LINK12" title="" href="http://www.Ponies/West/1/421"></a></dd>
	<dd><a class="LINK13" title="" href="http://www.Ponies/West/1/425"></a></dd>
	<dd><a class="LINK14" title="" href="http://www.Ponies/West/1/424"></a></dd>
	<dd><a class="LINK15" title="" href="http://www.Ponies/West/1/426"></a></dd>
	<dd><a class="LINK16" title="" href="http://www.Ponies/West/1/420"></a></dd>
	<dd><a class="LINK17" title="" href="http://www.Ponies/West/1/422"></a></dd>
	<dd><a class="LINK18" title="" href="http://www.Ponies/West/1/416"></a></dd>
	<dd><a class="LINK19" title="" href="http://www.Ponies/West/1/414"></a></dd>
	<dd><a class="LINK20" title="" href="http://www.Ponies/West/1/412"></a></dd>
	<dd><a class="LINK21" title="" href="http://www.Ponies/West/1/410"></a></dd>
	<dd><a class="LINK22" title="" href="http://www.Ponies/West/1/408"></a></dd>
	<dd><a class="LINK23" title="" href="http://www.Ponies/West/1/406"></a></dd>
	<dd><a class="LINK24" title="" href="http://www.Ponies/West/1/404"></a></dd>
	<dd><a class="LINK25" title="" href="http://www.Ponies/West/1/402"></a></dd>
	<dd><a class="BLINK" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_1201204070137275">Mapped @ Image Mapper</a></dd>
</dl>


<!-- Image map text links - End - -->

            