<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @comment.description %>
</p>


<%= link_to 'Edit', edit_page_comment_path(@page, @comment) %> |
<%= link_to 'Back', page_path(@page) %>

