<div style="text-align:center; width:825px; margin-left:auto; margin-right:auto;">
<img id="Image-Maps_4201204070411416" src="case1.jpg" usemap="#Image-Maps_4201204070411416" border="0" width="825" height="637" alt="" />
<map id="_Image-Maps_4201204070411416" name="Image-Maps_4201204070411416">
<area shape="rect" coords="264,11,314,115" href="http://case/1/155D" alt="" title=""    />
<area shape="rect" coords="319,13,357,117" href="http://case/1/154D" alt="" title=""    />
<area shape="rect" coords="359,12,397,116" href="http://case/1/153D" alt="" title=""    />
<area shape="rect" coords="400,13,438,117" href="http://case/1/152D" alt="" title=""    />
<area shape="rect" coords="440,10,478,114" href="http://case/1/151S" alt="" title=""    />
<area shape="rect" coords="479,13,517,117" href="http://case/1/150S" alt="" title=""    />
<area shape="rect" coords="518,13,550,117" href="http://case/1/149S" alt="" title=""    />
<area shape="rect" coords="554,15,586,119" href="http://case/1/148S" alt="" title=""    />
<area shape="rect" coords="609,134,702,176" href="http://case/1/147S" alt="" title=""    />
<area shape="rect" coords="609,181,702,211" href="http://case/1/146S" alt="" title=""    />
<area shape="rect" coords="604,215,697,248" href="http://case/1/145S" alt="" title=""    />
<area shape="rect" coords="605,253,698,286" href="http://case/1/144S" alt="" title=""    />
<area shape="rect" coords="610,291,703,324" href="http://case/1/143D" alt="" title=""    />
<area shape="rect" coords="606,333,726,366" href="http://case/1/142D" alt="" title=""    />
<area shape="rect" coords="614,375,707,408" href="http://case/1/141D" alt="" title=""    />
<area shape="rect" coords="612,416,705,449" href="http://case/1/140D" alt="" title=""    />
<area shape="rect" coords="505,523,537,619" href="http://case/1/125D" alt="" title=""    />
<area shape="rect" coords="464,526,496,622" href="http://case/1/124D" alt="" title=""    />
<area shape="rect" coords="424,526,456,622" href="http://case/1/123D" alt="" title=""    />
<area shape="rect" coords="382,525,414,621" href="http://case/1/122D" alt="" title=""    />
<area shape="rect" coords="346,523,378,619" href="http://case/1/121S" alt="" title=""    />
<area shape="rect" coords="305,522,337,618" href="http://case/1/120S" alt="" title=""    />
<area shape="rect" coords="268,520,300,616" href="http://case/1/119S" alt="" title=""    />
<area shape="rect" coords="229,524,261,620" href="http://case/1/118S" alt="" title=""    />
<area shape="rect" coords="101,185,203,225" href="http://case/1/101D" alt="" title=""    />
<area shape="rect" coords="102,228,204,268" href="http://case/1/102D" alt="" title=""    />
<area shape="rect" coords="103,269,205,309" href="http://case/1/103D" alt="" title=""    />
<area shape="rect" coords="101,310,203,350" href="http://case/1/104D" alt="" title=""    />
<area shape="rect" coords="96,353,206,386" href="http://case/1/105S" alt="" title=""    />
<area shape="rect" coords="95,391,205,424" href="http://case/1/106S" alt="" title=""    />
<area shape="rect" coords="94,429,204,462" href="http://case/1/107S" alt="" title=""    />
<area shape="rect" coords="91,466,201,499" href="http://case/1/108S" alt="" title=""    />
</map>
</div>
            