<div style="text-align:center; width:825px; margin-left:auto; margin-right:auto;">
<img id="Image-Maps_8201204070300358" src="east1Small.jpg" usemap="#Image-Maps_8201204070300358" border="0" width="825" height="637" alt="" />
<map id="_Image-Maps_8201204070300358" name="Image-Maps_8201204070300358">
<area shape="rect" coords="109,74,222,138" href="www.ponies/east/1/116" alt="" title=""    />
<area shape="rect" coords="108,139,221,203" href="www.ponies/east/1/114" alt="" title=""    />
<area shape="rect" coords="108,203,221,267" href="www.ponies/east/1/112" alt="" title=""    />
<area shape="rect" coords="108,269,221,333" href="www.ponies/east/1/110" alt="" title=""    />
<area shape="rect" coords="108,333,221,397" href="www.ponies/east/1/108" alt="" title=""    />
<area shape="rect" coords="108,395,221,459" href="www.ponies/east/1/106" alt="" title=""    />
<area shape="rect" coords="108,458,221,522" href="www.ponies/east/1/104" alt="" title=""    />
<area shape="rect" coords="108,521,221,585" href="www.ponies/east/1/102" alt="" title=""    />
<area shape="rect" coords="580,73,717,137" href="www.ponies/east/1/115" alt="" title=""    />
<area shape="rect" coords="580,139,717,203" href="www.ponies/east/1/113" alt="" title=""    />
<area shape="rect" coords="580,202,717,266" href="www.ponies/east/1/111" alt="" title=""    />
<area shape="rect" coords="581,268,718,332" href="www.ponies/east/1/109" alt="" title=""    />
<area shape="rect" coords="581,328,718,392" href="www.ponies/east/1/107" alt="" title=""    />
<area shape="rect" coords="580,392,717,456" href="www.ponies/east/1/105" alt="" title=""    />
<area shape="rect" coords="580,455,717,519" href="www.ponies/east/1/103" alt="" title=""    />
<area shape="rect" coords="580,518,717,582" href="www.ponies/east/1/101" alt="" title=""    />
<area shape="rect" coords="244,20,296,116" href="www.ponies/east/1/120" alt="" title=""    />
<area shape="rect" coords="300,18,352,114" href="www.ponies/east/1/124" alt="" title=""    />
<area shape="rect" coords="353,20,405,116" href="www.ponies/east/1/128" alt="" title=""    />
<area shape="rect" coords="405,20,457,116" href="www.ponies/east/1/127" alt="" title=""    />
<area shape="rect" coords="454,20,506,116" href="www.ponies/east/1/123" alt="" title=""    />
<area shape="rect" coords="507,20,559,116" href="www.ponies/east/1/119" alt="" title=""    />
<area shape="rect" coords="245,157,297,253" href="www.ponies/east/1/122" alt="" title=""    />
<area shape="rect" coords="297,157,349,253" href="www.ponies/east/1/126" alt="" title=""    />
<area shape="rect" coords="454,140,506,253" href="www.ponies/east/1/125" alt="" title=""    />
<area shape="rect" coords="506,140,558,253" href="www.ponies/east/1/121" alt="" title=""    />
<area shape="rect" coords="823,635,825,637" href="http://www.image-maps.com/index.php?aff=mapped_users_8201204070300358" alt="Image Map" title="Image Map" />
</map>


</div>
            