<div style="text-align:center; width:825px; margin-left:auto; margin-right:auto;">
<img id="Image-Maps_4201204070452056" src="east2Small.jpg" usemap="#Image-Maps_4201204070452056" border="0" width="825" height="637" alt="" />
<map id="_Image-Maps_4201204070452056" name="Image-Maps_4201204070452056">
<area shape="rect" coords="119,101,235,161" href="www.ponies/east/2/166" alt="" title=""    />
<area shape="rect" coords="119,163,235,223" href="www.ponies/east/2/164" alt="" title=""    />
<area shape="rect" coords="119,220,235,280" href="www.ponies/east/2/162" alt="" title=""    />
<area shape="rect" coords="118,279,234,339" href="www.ponies/east/2/160" alt="" title=""    />
<area shape="rect" coords="118,340,234,400" href="www.ponies/east/2/158" alt="" title=""    />
<area shape="rect" coords="118,402,234,462" href="www.ponies/east/2/156" alt="" title=""    />
<area shape="rect" coords="118,461,234,521" href="www.ponies/east/2/154" alt="" title=""    />
<area shape="rect" coords="118,520,234,580" href="www.ponies/east/2/152" alt="" title=""    />
<area shape="rect" coords="570,101,686,161" href="www.ponies/east/2/165" alt="" title=""    />
<area shape="rect" coords="570,160,686,220" href="www.ponies/east/2/163" alt="" title=""    />
<area shape="rect" coords="570,220,686,280" href="www.ponies/east/2/161" alt="" title=""    />
<area shape="rect" coords="570,280,686,340" href="www.ponies/east/2/159" alt="" title=""    />
<area shape="rect" coords="570,339,686,399" href="www.ponies/east/2/157" alt="" title=""    />
<area shape="rect" coords="570,402,686,462" href="www.ponies/east/2/155" alt="" title=""    />
<area shape="rect" coords="570,463,689,523" href="www.ponies/east/2/153" alt="" title=""    />
<area shape="rect" coords="573,520,689,580" href="www.ponies/east/2/151" alt="" title=""    />
<area shape="rect" coords="255,178,298,269" href="www.ponies/east/2/172" alt="" title=""    />
<area shape="rect" coords="314,175,357,276" href="www.ponies/east/2/176" alt="" title=""    />
<area shape="rect" coords="451,160,501,268" href="http://www.image-maps.com/" alt="www.ponies/east/2/175" title="www.ponies/east/2/175"    />
<area shape="rect" coords="500,160,550,268" href="www.ponies/east/2/171" alt="" title=""    />
<area shape="rect" coords="255,41,305,139" href="www.ponies/east/2/170" alt="" title=""    />
<area shape="rect" coords="304,41,354,139" href="www.ponies/east/2/174" alt="" title=""    />
<area shape="rect" coords="353,39,403,137" href="www.ponies/east/2/178" alt="" title=""    />
<area shape="rect" coords="402,38,452,136" href="www.ponies/east/2/177" alt="" title=""    />
<area shape="rect" coords="450,38,500,136" href="www.ponies/east/2/173" alt="" title=""    />
<area shape="rect" coords="500,38,550,136" href="www.ponies/east/2/169" alt="" title=""    />
<area shape="rect" coords="823,635,825,637" href="http://www.image-maps.com/index.php?aff=mapped_users_4201204070452056" alt="Image Map" title="Image Map" />
</map>


</div>
            