<html>
<head>
    <title>Atwood Ground Floor</title>
</head>
<body>

<style type="text/css">
    dl.image_map {display:block; width:691px; height:683px; background:url(http://www.image-maps.com/uploaded_files/2201204070154506_floorplan.png); position:relative; margin:2px auto 2px auto;}
    a.LINK0 {left:540px; top:244px; background:transparent;}
    a.LINK0 {display:block; width:129px; height:0; padding-top:52px; overflow:hidden; position:absolute;}
    a.LINK0:hover  {background-color: rgba(255,0,0,0.5); border:1px dashed black; color:black;}
    a.LINK1 {left:565px; top:195px; background:transparent;}
    a.LINK1 {display:block; width:105px; height:0; padding-top:52px; overflow:hidden; position:absolute;}
    a.LINK1:hover  {background:transparent; border:1px dashed black; color:black;}
    a.BLINK {left:689px; top:681px; background:transparent;}
    a.BLINK {display:block; width:202px; height:17px; overflow:hidden; position:absolute; font-size:0px;}
    a.BLINK:hover  {background:black; border:1px dashed white; color:white; font-size:9px;}
</style>

<!-- <dl class="image_map">
    <dd><a class="LINK0" title="" href="/atwood/1/127"></a></dd>
    <dd><a class="LINK1" title="" href="/atwood/1/125"></a></dd>
    <dd><a class="BLINK" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_2201204070154506">Mapped @ Image Mapper</a></dd>
</dl>
 -->            
</body>
</html>