
<div style="text-align:center; width:825px; margin-left:auto; margin-right:auto;">

<%= image_tag 'north1.jpg', :id => "Image-Maps_8201204070300358", :usemap =>"#Image-Maps_8201204070300358", :border =>"0", :width =>"825", :height =>"637"%>

<map id="_Image-Maps_8201204070300358" name="Image-Maps_8201204070300358">
    
<area shape="rect" coords="115,74,221,142" href="/north/1/215" alt="" title=""    />
<area shape="rect" coords="115,139,221,204" href="/north/1/213" alt="" title=""    />
<area shape="rect" coords="111,202,221,267" href="/north/1/211" alt="" title=""    />
<area shape="rect" coords="111,266,221,331" href="/north/1/209" alt="" title=""    />
<area shape="rect" coords="111,329,221,394" href="/north/1/207" alt="" title=""    />
<area shape="rect" coords="111,395,221,460" href="/north/1/205" alt="" title=""    />
<area shape="rect" coords="111,462,221,527" href="/north/1/203" alt="" title=""    />
<area shape="rect" coords="111,526,221,591" href="/north/1/201" alt="" title=""    />
<area shape="rect" coords="559,70,669,135" href="/north/1/216" alt="" title=""    />
<area shape="rect" coords="559,136,669,201" href="/north/1/214" alt="" title=""    />
<area shape="rect" coords="559,199,669,264" href="/north/1/212" alt="" title=""    />
<area shape="rect" coords="559,265,669,330" href="/north/1/210" alt="" title=""    />
<area shape="rect" coords="559,329,669,394" href="/north/1/208" alt="" title=""    />
<area shape="rect" coords="559,394,669,459" href="/north/1/206" alt="" title=""    />
<area shape="rect" coords="559,460,669,525" href="/north/1/204" alt="" title=""    />
<area shape="rect" coords="559,523,669,588" href="/north/1/202" alt="" title=""    />
<area shape="rect" coords="242,130,297,250" href="/north/1/221" alt="" title=""    />
<area shape="rect" coords="296,130,351,250" href="/north/1/225" alt="" title=""    />
<area shape="rect" coords="451,132,506,252" href="/north/1/226" alt="" title=""    />
<area shape="rect" coords="507,133,562,253" href="/north/1/222" alt="" title=""    />
<area shape="rect" coords="244,14,292,113" href="/north/1/219" alt="" title=""    />
<area shape="rect" coords="304,14,352,113" href="/north/1/223" alt="" title=""    />
<area shape="rect" coords="350,14,398,113" href="/north/1/227" alt="" title=""    />
<area shape="rect" coords="405,13,453,112" href="/north/1/228" alt="" title=""    />
<area shape="rect" coords="451,14,499,113" href="/north/1/224" alt="" title=""    />
<area shape="rect" coords="513,10,561,109" href="/north/1/220" alt="" title=""    />
<area shape="rect" coords="823,635,825,637" href="http://www.image-maps.com/index.php?aff=mapped_users_8201204070300358" alt="Image Map" title="Image Map" />
</map>


</div>
            