<div style="text-align:center; width:825px; margin-left:auto; margin-right:auto;">
<img id="Image-Maps_8201204070300358" src="northSmall2.jpg" usemap="#Image-Maps_8201204070300358" border="0" width="825" height="637" alt="" />
<map id="_Image-Maps_8201204070300358" name="Image-Maps_8201204070300358">
<area shape="rect" coords="104,69,227,136" href="www.ponies/north/2/265" alt="" title=""    />
<area shape="rect" coords="105,136,228,203" href="www.ponies/north/2/263" alt="" title=""    />
<area shape="rect" coords="104,199,227,262" href="www.ponies/north/2/261" alt="" title=""    />
<area shape="rect" coords="105,262,228,325" href="www.ponies/north/2/259" alt="" title=""    />
<area shape="rect" coords="105,326,228,389" href="www.ponies/north/2/257" alt="" title=""    />
<area shape="rect" coords="104,390,227,454" href="www.ponies/north/2/255" alt="" title=""    />
<area shape="rect" coords="104,457,227,521" href="www.ponies/north/2/253" alt="" title=""    />
<area shape="rect" coords="104,524,227,588" href="www.ponies/north/2/251" alt="" title=""    />
<area shape="rect" coords="584,69,707,133" href="www.ponies/north/2/266" alt="" title=""    />
<area shape="rect" coords="587,133,710,197" href="www.ponies/north/2/264" alt="" title=""    />
<area shape="rect" coords="587,199,710,263" href="www.ponies/north/2/262" alt="" title=""    />
<area shape="rect" coords="587,265,710,329" href="www.ponies/north/2/260" alt="" title=""    />
<area shape="rect" coords="587,325,710,389" href="www.ponies/north/2/258" alt="" title=""    />
<area shape="rect" coords="587,391,710,455" href="www.ponies/north/2/256" alt="" title=""    />
<area shape="rect" coords="587,459,710,520" href="www.ponies/north/2/254" alt="" title=""    />
<area shape="rect" coords="587,522,710,583" href="www.ponies/north/2/252" alt="" title=""    />
<area shape="rect" coords="248,133,301,250" href="www.ponies/north/2/271" alt="" title=""    />
<area shape="rect" coords="300,133,353,250" href="www.ponies/north/2/275" alt="" title=""    />
<area shape="rect" coords="454,135,507,266" href="www.ponies/north/2/276" alt="" title=""    />
<area shape="rect" coords="507,136,560,267" href="www.ponies/north/2/272" alt="" title=""    />
<area shape="rect" coords="245,17,301,114" href="www.ponies/north/2/269" alt="" title=""    />
<area shape="rect" coords="300,17,356,114" href="www.ponies/north/2/273" alt="" title=""    />
<area shape="rect" coords="357,18,406,115" href="www.ponies/north/2/277" alt="" title=""    />
<area shape="rect" coords="405,17,454,114" href="www.ponies/north/2/278" alt="" title=""    />
<area shape="rect" coords="455,16,511,113" href="www.ponies/north/2/274" alt="" title=""    />
<area shape="rect" coords="510,17,566,114" href="www.ponies/north/2/270" alt="" title=""    />
<area shape="rect" coords="823,635,825,637" href="http://www.image-maps.com/index.php?aff=mapped_users_8201204070300358" alt="Image Map" title="Image Map" />
</map>


</div>
            