<div style="text-align:center; width:825px; margin-left:auto; margin-right:auto;">
<img id="Image-Maps_4201204070452056" src="southSmall1.jpg" usemap="#Image-Maps_4201204070452056" border="0" width="825" height="637" alt="" />
<map id="_Image-Maps_4201204070452056" name="Image-Maps_4201204070452056">
<area shape="rect" coords="154,65,204,94" href="www.ponies/south/1/307A" alt="" title=""    />
<area shape="rect" coords="150,95,193,149" href="www.ponies/south/1/307B" alt="" title=""    />
<area shape="rect" coords="153,146,192,200" href="www.ponies/south/1/307C" alt="" title=""    />
<area shape="rect" coords="193,162,249,199" href="www.ponies/south/1/307D" alt="" title=""    />
<area shape="rect" coords="188,201,244,238" href="www.ponies/south/1/305A" alt="" title=""    />
<area shape="rect" coords="150,251,192,305" href="www.ponies/south/1/305C" alt="" title=""    />
<area shape="rect" coords="149,199,191,253" href="www.ponies/south/1/305B" alt="" title=""    />
<area shape="rect" coords="150,303,192,357" href="www.ponies/south/1/303A" alt="" title=""    />
<area shape="rect" coords="150,355,192,409" href="www.ponies/south/1/303B" alt="" title=""    />
<area shape="rect" coords="193,374,245,410" href="www.ponies/south/1/303C" alt="" title=""    />
<area shape="rect" coords="189,408,241,444" href="www.ponies/south/1/301A" alt="" title=""    />
<area shape="rect" coords="154,408,186,455" href="www.ponies/south/1/301B" alt="" title=""    />
<area shape="rect" coords="153,460,189,507" href="www.ponies/south/1/301C" alt="" title=""    />
<area shape="rect" coords="153,504,206,545" href="www.ponies/south/1/301D" alt="" title=""    />
<area shape="rect" coords="304,99,354,150" href="www.ponies/south/1/309" alt="" title=""    />
<area shape="rect" coords="370,101,420,152" href="www.ponies/south/1/311" alt="" title=""    />
<area shape="rect" coords="419,98,465,149" href="www.ponies/south/1/312" alt="" title=""    />
<area shape="rect" coords="486,98,536,149" href="www.ponies/south/1/310" alt="" title=""    />
<area shape="rect" coords="631,59,684,100" href="www.ponies/south/1/308A" alt="" title=""    />
<area shape="rect" coords="594,164,647,205" href="www.ponies/south/1/308D" alt="" title=""    />
<area shape="rect" coords="647,97,686,148" href="www.ponies/south/1/308B" alt="" title=""    />
<area shape="rect" coords="647,151,686,202" href="www.ponies/south/1/308C" alt="" title=""    />
<area shape="rect" coords="647,203,686,257" href="www.ponies/south/1/306B" alt="" title=""    />
<area shape="rect" coords="647,255,686,309" href="www.ponies/south/1/306C" alt="" title=""    />
<area shape="rect" coords="594,203,644,233" href="www.ponies/south/1/306A" alt="" title=""    />
<area shape="rect" coords="594,375,644,408" href="www.ponies/south/1/304C" alt="" title=""    />
<area shape="rect" coords="647,360,687,410" href="www.ponies/south/1/304B" alt="" title=""    />
<area shape="rect" coords="647,307,687,357" href="www.ponies/south/1/304A" alt="" title=""    />
<area shape="rect" coords="647,410,687,460" href="www.ponies/south/1/302B" alt="" title=""    />
<area shape="rect" coords="647,459,687,509" href="www.ponies/south/1/302C" alt="" title=""    />
<area shape="rect" coords="594,409,648,445" href="www.ponies/south/1/302A" alt="" title=""    />
<area shape="rect" coords="630,508,684,544" href="www.ponies/south/1/302D" alt="" title=""    />
<area shape="rect" coords="823,635,825,637" href="http://www.image-maps.com/index.php?aff=mapped_users_4201204070452056" alt="Image Map" title="Image Map" />
</map>


</div>
            