<div style="text-align:center; width:825px; margin-left:auto; margin-right:auto;">
    
<%= image_tag 'atwood2.jpg', :id => "Image-Maps_4201204070411416", :usemap =>"Image-Maps_4201204070411416", :border =>"0", :width =>"825", :height =>"637"%>

<map id="_Image-Maps_4201204070411416" name="Image-Maps_4201204070411416">
<area shape="rect" coords="208,65,249,160" href="http://atwood/2/207T" alt="" title=""    />
<area shape="rect" coords="250,66,286,161" href="http://atwood/2/209s" alt="" title=""    />
<area shape="rect" coords="291,64,327,159" href="http://atwood/2/211S" alt="" title=""    />
<area shape="rect" coords="334,67,370,162" href="http://atwood/2/213d" alt="" title=""    />
<area shape="rect" coords="449,62,485,157" href="http://atwood/2/215D" alt="" title=""    />
<area shape="rect" coords="489,61,525,156" href="http://atwood/2/217S" alt="" title=""    />
<area shape="rect" coords="528,60,564,155" href="http://atwood/2/219S" alt="" title=""    />
<area shape="rect" coords="569,64,605,159" href="http://atwood/2/221T" alt="" title=""    />
<area shape="rect" coords="118,129,232,159" href="http://atwood/2/207T" alt="" title=""    />
<area shape="rect" coords="107,168,221,198" href="http://atwood/2/205S" alt="" title=""    />
<area shape="rect" coords="114,207,228,237" href="http://atwood/2/203S" alt="" title=""    />
<area shape="rect" coords="124,247,238,277" href="http://atwood/2/201D" alt="" title=""    />
<area shape="rect" coords="575,129,689,159" href="http://atwood/2/221T" alt="" title=""    />
<area shape="rect" coords="581,168,695,198" href="http://atwood/2/223s" alt="" title=""    />
<area shape="rect" coords="586,210,700,240" href="http://atwood/2/225S" alt="" title=""    />
<area shape="rect" coords="559,246,697,282" href="http://atwood/2/227D" alt="" title=""    />
<area shape="rect" coords="124,360,262,396" href="http://atwood/2/200D" alt="" title=""    />
<area shape="rect" coords="105,399,243,435" href="http://atwood/2/202S" alt="" title=""    />
<area shape="rect" coords="102,439,240,475" href="http://atwood/2/204S" alt="" title=""    />
<area shape="rect" coords="96,480,234,516" href="http://atwood/2/206T" 
    alt="" title=""    />
<area shape="rect" coords="206,503,247,577" href="http://atwood/2/206T" alt="" title=""    />
<area shape="rect" coords="251,503,286,577" href="http://atwood/2/208S" alt="" title=""    />
<area shape="rect" coords="291,504,326,578" href="http://atwood/2/210S" alt="" title=""    />
<area shape="rect" coords="331,480,366,582" href="http://atwood/2/212D" alt="" title=""    />
<area shape="rect" coords="449,479,484,581" href="http://atwood/2/214D" alt="" title=""    />
<area shape="rect" coords="488,497,523,599" href="http://atwood/2/216S" alt="" title=""    />
<area shape="rect" coords="528,498,563,600" href="http://atwood/2/218S" alt="" title=""    />
<area shape="rect" coords="564,502,605,604" href="http://atwood/2/220T" alt="" title=""    />
<area shape="rect" coords="588,479,721,521" href="http://atwood/2/220T" alt="" title=""    />
<area shape="rect" coords="589,443,722,478" href="http://atwood/2/222S" alt="" title=""    />
<area shape="rect" coords="594,401,727,436" href="http://atwood/2/224S" alt="" title=""    />
<area shape="rect" coords="582,361,715,396" href="http://atwood/2/226D" alt="" title=""    />

</map>

</div>