<div style="text-align:center; width:825px; margin-left:auto; margin-right:auto;">
<img id="Image-Maps_4201204070411416" src="case2.jpg" usemap="#Image-Maps_4201204070411416" border="0" width="825" height="637" alt="" />
<map id="_Image-Maps_4201204070411416" name="Image-Maps_4201204070411416">
<area shape="rect" coords="264,11,314,115" href="http://case/2/255D" alt="" title=""    />
<area shape="rect" coords="319,13,357,117" href="http://case/2/254D" alt="" title=""    />
<area shape="rect" coords="359,12,397,116" href="http://case/2/253D" alt="" title=""    />
<area shape="rect" coords="400,13,438,117" href="http://case/2/252D" alt="" title=""    />
<area shape="rect" coords="440,10,478,114" href="http://case/2/251S" alt="" title=""    />
<area shape="rect" coords="479,13,517,117" href="http://case/2/250S" alt="" title=""    />
<area shape="rect" coords="518,13,550,117" href="http://case/2/249S" alt="" title=""    />
<area shape="rect" coords="554,15,586,119" href="http://case/2/248S" alt="" title=""    />
<area shape="rect" coords="609,134,702,176" href="http://case/2/247S" alt="" title=""    />
<area shape="rect" coords="609,181,702,211" href="http://case/2/246S" alt="" title=""    />
<area shape="rect" coords="604,215,697,248" href="http://case/2/245S" alt="" title=""    />
<area shape="rect" coords="605,253,698,286" href="http://case/2/244S" alt="" title=""    />
<area shape="rect" coords="610,291,703,324" href="http://case/2/243D" alt="" title=""    />
<area shape="rect" coords="606,333,726,366" href="http://case/2/242D" alt="" title=""    />
<area shape="rect" coords="614,375,707,408" href="http://case/2/241D" alt="" title=""    />
<area shape="rect" coords="612,416,705,449" href="http://case/2/240D" alt="" title=""    />
<area shape="rect" coords="505,523,537,619" href="http://case/2/225D" alt="" title=""    />
<area shape="rect" coords="464,526,496,622" href="http://case/2/224D" alt="" title=""    />
<area shape="rect" coords="424,526,456,622" href="http://case/2/223D" alt="" title=""    />
<area shape="rect" coords="382,525,414,621" href="http://case/2/222D" alt="" title=""    />
<area shape="rect" coords="346,523,378,619" href="http://case/2/221S" alt="" title=""    />
<area shape="rect" coords="305,522,337,618" href="http://case/2/220S" alt="" title=""    />
<area shape="rect" coords="268,520,300,616" href="http://case/2/219S" alt="" title=""    />
<area shape="rect" coords="229,524,261,620" href="http://case/2/218S" alt="" title=""    />
<area shape="rect" coords="101,185,203,225" href="http://case/2/201D" alt="" title=""    />
<area shape="rect" coords="102,228,204,268" href="http://case/2/202D" alt="" title=""    />
<area shape="rect" coords="103,269,205,309" href="http://case/2/203D" alt="" title=""    />
<area shape="rect" coords="101,310,203,350" href="http://case/2/204D" alt="" title=""    />
<area shape="rect" coords="96,353,206,386" href="http://case/2/205S" alt="" title=""    />
<area shape="rect" coords="95,391,205,424" href="http://case/2/206S" alt="" title=""    />
<area shape="rect" coords="94,429,204,462" href="http://case/2/207S" alt="" title=""    />
<area shape="rect" coords="91,466,201,499" href="http://case/2/208S" alt="" title=""    />
</map>
</div>
            