<div style="text-align:center; width:825px; margin-left:auto; margin-right:auto;">
<img id="Image-Maps_4201204070452056" src="linde1Small.jpg" usemap="#Image-Maps_4201204070452056" border="0" width="825" height="637" alt="" />
<map id="_Image-Maps_4201204070452056" name="Image-Maps_4201204070452056">
<area shape="rect" coords="136,65,186,115" href="www.ponies/linde/1/102" alt="" title=""    />
<area shape="rect" coords="137,111,187,161" href="www.ponies/linde/1/101" alt="" title=""    />
<area shape="rect" coords="182,34,246,98" href="www.ponies/linde/1/103" alt="" title=""    />
<area shape="rect" coords="244,35,300,99" href="www.ponies/linde/1/105" alt="" title=""    />
<area shape="rect" coords="356,34,420,98" href="www.ponies/linde/1/110" alt="" title=""    />
<area shape="rect" coords="298,34,354,98" href="www.ponies/linde/1/107" alt="" title=""    />
<area shape="rect" coords="416,65,465,161" href="www.ponies/linde/1/111" alt="" title=""    />
<area shape="rect" coords="464,34,520,99" href="www.ponies/linde/1/112" alt="" title=""    />
<area shape="rect" coords="521,34,577,99" href="www.ponies/linde/1/113" alt="" title=""    />
<area shape="rect" coords="577,115,626,159" href="www.ponies/linde/1/117" alt="" title=""    />
<area shape="rect" coords="577,65,626,116" href="www.ponies/linde/1/116" alt="" title=""    />
<area shape="rect" coords="567,552,627,593" href="www.ponies/linde/1/131" alt="" title=""    />
<area shape="rect" coords="584,505,627,553" href="www.ponies/linde/1/130" alt="" title=""    />
<area shape="rect" coords="566,464,627,505" href="www.ponies/linde/1/129" alt="" title=""    />
<area shape="rect" coords="531,540,571,592" href="www.ponies/linde/1/132" alt="" title=""    />
<area shape="rect" coords="461,538,533,590" href="www.ponies/linde/1/135" alt="" title=""    />
<area shape="rect" coords="357,527,415,593" href="www.ponies/linde/1/138" alt="" title=""    />
<area shape="rect" coords="413,467,460,558" href="www.ponies/linde/1/136" alt="" title=""    />
<area shape="rect" coords="300,526,361,593" href="www.ponies/linde/1/140" alt="" title=""    />
<area shape="rect" coords="241,523,302,590" href="www.ponies/linde/1/141" alt="" title=""    />
<area shape="rect" coords="182,526,243,590" href="www.ponies/linde/1/144" alt="" title=""    />
<area shape="rect" coords="137,510,185,560" href="www.ponies/linde/1/145" alt="" title=""    />
<area shape="rect" coords="136,463,184,510" href="www.ponies/linde/1/146" alt="" title=""    />
<area shape="rect" coords="823,635,825,637" href="http://www.image-maps.com/index.php?aff=mapped_users_4201204070452056" alt="Image Map" title="Image Map" />
</map>


</div>
            