<div style="text-align:center; width:825px; margin-left:auto; margin-right:auto;">
<img id="Image-Maps_4201204070452056" src="linde2small.jpg" usemap="#Image-Maps_4201204070452056" border="0" width="825" height="637" alt="" />
<map id="_Image-Maps_4201204070452056" name="Image-Maps_4201204070452056">
<area shape="rect" coords="139,68,186,115" href="www.ponies/linde/2/202" alt="" title=""    />
<area shape="rect" coords="139,113,186,160" href="www.ponies/linde/2/201" alt="" title=""    />
<area shape="rect" coords="185,38,242,99" href="www.ponies/linde/2/203" alt="" title=""    />
<area shape="rect" coords="241,38,298,99" href="www.ponies/linde/2/204" alt="" title=""    />
<area shape="rect" coords="297,38,354,99" href="www.ponies/linde/2/207" alt="" title=""    />
<area shape="rect" coords="353,38,410,99" href="www.ponies/linde/2/208" alt="" title=""    />
<area shape="rect" coords="448,38,505,99" href="www.ponies/linde/2/212" alt="" title=""    />
<area shape="rect" coords="504,39,561,100" href="www.ponies/linde/2/213" alt="" title=""    />
<area shape="rect" coords="406,69,453,158" href="www.ponies/linde/2/211" alt="" title=""    />
<area shape="rect" coords="559,65,606,116" href="www.ponies/linde/2/216" alt="" title=""    />
<area shape="rect" coords="560,115,607,158" href="www.ponies/linde/2/217" alt="" title=""    />
<area shape="rect" coords="549,178,603,242" href="www.ponies/linde/2/219" alt="" title=""    />
<area shape="rect" coords="548,241,602,305" href="www.ponies/linde/2/222" alt="" title=""    />
<area shape="rect" coords="549,304,603,368" href="www.ponies/linde/2/227" alt="" title=""    />
<area shape="rect" coords="549,367,603,431" href="www.ponies/linde/2/229" alt="" title=""    />
<area shape="rect" coords="549,448,603,488" href="www.ponies/linde/2/230" alt="" title=""    />
<area shape="rect" coords="567,487,603,534" href="www.ponies/linde/2/231" alt="" title=""    />
<area shape="rect" coords="552,532,606,569" href="www.ponies/linde/2/232" alt="" title=""    />
<area shape="rect" coords="517,522,554,570" href="www.ponies/linde/2/233" alt="" title=""    />
<area shape="rect" coords="185,508,242,567" href="www.ponies/linde/2/244" alt="" title=""    />
<area shape="rect" coords="241,508,298,567" href="www.ponies/linde/2/243" alt="" title=""    />
<area shape="rect" coords="293,511,350,570" href="www.ponies/linde/2/240" alt="" title=""    />
<area shape="rect" coords="350,511,407,570" href="www.ponies/linde/2/239" alt="" title=""    />
<area shape="rect" coords="141,494,185,539" href="www.ponies/linde/2/246" alt="" title=""    />
<area shape="rect" coords="142,448,186,493" href="www.ponies/linde/2/247" alt="" title=""    />
<area shape="rect" coords="451,518,515,568" href="www.ponies/linde/2/236" alt="" title=""    />
<area shape="rect" coords="402,453,452,538" href="www.ponies/linde/2/237" alt="" title=""    />
<area shape="rect" coords="823,635,825,637" href="http://www.image-maps.com/index.php?aff=mapped_users_4201204070452056" alt="Image Map" title="Image Map" />
</map>


</div>
            