<div style="text-align:center; width:825px; margin-left:auto; margin-right:auto;">
<img id="Image-Maps_4201204070452056" src="southSmall2.jpg" usemap="#Image-Maps_4201204070452056" border="0" width="825" height="637" alt="" />
<map id="_Image-Maps_4201204070452056" name="Image-Maps_4201204070452056">
<area shape="rect" coords="140,59,197,95" href="www.ponies/south/2/357A" alt="" title=""    />
<area shape="rect" coords="178,164,235,200" href="www.ponies/south/2/357D" alt="" title=""    />
<area shape="rect" coords="139,151,179,200" href="www.ponies/south/2/357C" alt="" title=""    />
<area shape="rect" coords="139,97,179,150" href="www.ponies/south/2/357B" alt="" title=""    />
<area shape="rect" coords="139,202,179,255" href="www.ponies/south/2/355B" alt="" title=""    />
<area shape="rect" coords="139,254,179,307" href="www.ponies/south/2/355C" alt="" title=""    />
<area shape="rect" coords="179,199,236,232" href="www.ponies/south/2/355A" alt="" title=""    />
<area shape="rect" coords="181,378,238,411" href="www.ponies/south/2/353C" alt="" title=""    />
<area shape="rect" coords="140,360,183,411" href="www.ponies/south/2/353B" alt="" title=""    />
<area shape="rect" coords="139,310,182,361" href="www.ponies/south/2/353A" alt="" title=""    />
<area shape="rect" coords="140,462,183,513" href="www.ponies/south/2/351C" alt="" title=""    />
<area shape="rect" coords="139,411,182,462" href="www.ponies/south/2/351B" alt="" title=""    />
<area shape="rect" coords="181,411,234,451" href="www.ponies/south/2/351A" alt="" title=""    />
<area shape="rect" coords="142,513,195,553" href="www.ponies/south/2/351D" alt="" title=""    />
<area shape="rect" coords="293,175,353,260" href="www.ponies/south/2/359" alt="" title=""    />
<area shape="rect" coords="352,174,412,259" href="www.ponies/south/2/361" alt="" title=""    />
<area shape="rect" coords="413,174,473,259" href="www.ponies/south/2/363" alt="" title=""    />
<area shape="rect" coords="472,174,532,259" href="www.ponies/south/2/365" alt="" title=""    />
<area shape="rect" coords="293,97,353,154" href="www.ponies/south/2/360" alt="" title=""    />
<area shape="rect" coords="352,97,409,154" href="www.ponies/south/2/362" alt="" title=""    />
<area shape="rect" coords="409,97,466,154" href="www.ponies/south/2/364" alt="" title=""    />
<area shape="rect" coords="469,98,529,155" href="www.ponies/south/2/366" alt="" title=""    />
<area shape="rect" coords="625,62,685,95" href="www.ponies/south/2/358A" alt="" title=""    />
<area shape="rect" coords="591,168,641,201" href="www.ponies/south/2/358D" alt="" title=""    />
<area shape="rect" coords="643,150,686,204" href="www.ponies/south/2/358C" alt="" title=""    />
<area shape="rect" coords="643,97,686,151" href="www.ponies/south/2/358B" alt="" title=""    />
<area shape="rect" coords="643,203,686,257" href="www.ponies/south/2/356B" alt="" title=""    />
<area shape="rect" coords="643,252,686,306" href="www.ponies/south/2/356C" alt="" title=""    />
<area shape="rect" coords="591,202,641,232" href="www.ponies/south/2/356A" alt="" title=""    />
<area shape="rect" coords="591,380,641,410" href="www.ponies/south/2/354C" alt="" title=""    />
<area shape="rect" coords="643,360,686,415" href="www.ponies/south/2/354B" alt="" title=""    />
<area shape="rect" coords="644,307,687,362" href="www.ponies/south/2/354A" alt="" title=""    />
<area shape="rect" coords="639,413,685,464" href="www.ponies/south/2/352B" alt="" title=""    />
<area shape="rect" coords="639,465,685,516" href="www.ponies/south/2/352C" alt="" title=""    />
<area shape="rect" coords="629,517,685,547" href="www.ponies/south/2/352D" alt="" title=""    />
<area shape="rect" coords="587,416,643,446" href="www.ponies/south/2/352A" alt="" title=""    />
<area shape="rect" coords="823,635,825,637" href="http://www.image-maps.com/index.php?aff=mapped_users_4201204070452056" alt="Image Map" title="Image Map" />
</map>


</div>
            