<div style="text-align:center; width:825px; margin-left:auto; margin-right:auto;">

<%= image_tag 'west1.jpg', :id => "Image-Maps_1201204070137275", :usemap =>"Image-Maps_1201204070137275", :border =>"0", :width =>"825", :height =>"637"%>

<map id="_Image-Maps_1201204070137275" name="Image-Maps_1201204070137275">
<area shape="rect" coords="559,101,661,161" href="/west/1/415" alt="" title=""    />
<area shape="rect" coords="557,160,659,220" href="/west/1/413" alt="" title=""    />
<area shape="rect" coords="559,219,661,279" href="/west/1/411" alt="" title=""    />
<area shape="rect" coords="559,278,661,338" href="/west/1/409" alt="" title=""    />
<area shape="rect" coords="557,342,659,402" href="/west/1/407" alt="" title=""    />
<area shape="rect" coords="557,399,659,459" href="/west/1/405" alt="" title=""    />
<area shape="rect" coords="559,461,661,521" href="/west/1/403" alt="" title=""    />
<area shape="rect" coords="559,519,661,579" href="/west/1/401" alt="" title=""    />
<area shape="rect" coords="119,101,221,161" href="/west/1/416" alt="" title=""    />
<area shape="rect" coords="118,160,220,220" href="/west/1/414" alt="" title=""    />
<area shape="rect" coords="119,219,221,279" href="/west/1/412" alt="" title=""    />
<area shape="rect" coords="119,279,221,339" href="/west/1/410" alt="" title=""    />
<area shape="rect" coords="119,339,221,399" href="/west/1/408" alt="" title=""    />
<area shape="rect" coords="117,402,223,462" href="/west/1/406" alt="" title=""    />
<area shape="rect" coords="115,463,221,523" href="/west/1/404" alt="" title=""    />
<area shape="rect" coords="115,522,221,582" href="/west/1/402" alt="" title=""    />
<area shape="rect" coords="241,49,284,137" href="/west/1/420" alt="" title=""    />
<area shape="rect" coords="304,48,347,136" href="/west/1/424" alt="" title=""    />
<area shape="rect" coords="342,48,385,136" href="/west/1/428" alt="" title=""    />
<area shape="rect" coords="399,48,442,136" href="/west/1/427" alt="" title=""    />
<area shape="rect" coords="437,49,480,137" href="/west/1/423" alt="" title=""    />
<area shape="rect" coords="496,48,539,136" href="/west/1/419" alt="" title=""    />
<area shape="rect" coords="241,157,295,269" href="/west/1/422" alt="" title=""    />
<area shape="rect" coords="293,157,347,269" href="/west/1/426" alt="" title=""    />
<area shape="rect" coords="434,158,484,270" href="/west/1/425" alt="" title=""    />
<area shape="rect" coords="493,157,543,279" href="/west/1/421" alt="" title=""    />
<area shape="rect" coords="823,635,825,637" href="http://www.image-maps.com/index.php?aff=mapped_users_1201204070137275" alt="Image Map" title="Image Map" />
</map>

</div>
            